<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Asset Management System</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-speedometer2" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Employees
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assets">
                <span class="bi bi-laptop" aria-hidden="true"></span> Assets
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assignments">
                <span class="bi bi-arrow-left-right" aria-hidden="true"></span> Assignments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="bi bi-bar-chart-fill" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
    </nav>
</div>

